body {color: #fff; background: #585858;}

li > a[selected], li > a:active {
  background-image: url(listArrowSel2.png), -webkit-gradient(linear, left top, left bottom, from(#83b042), to(#405620)) !important;
  background-image: url(listArrowSel2.png), -moz-linear-gradient(top, #83b042,#405620) !important;
  background-color: #768d3e !important;
  color: #fff !important;
}

li > a[selected="progress"] {
  background-image: url(loadArrows2.gif), -webkit-gradient(linear, left top, left bottom, from(#83b042), to(#405620)) !important;
  background-image: url(loadArrows2.gif), -moz-linear-gradient(top, #83b042,#405620) !important;
}

/************************************************************************************************/

body > .toolbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#000)) ;
  background: -moz-linear-gradient(top, #585858,#000); 
}

.toolbar > h1 {color:#fff;}

.button {
  -webkit-border-image: url(navbuttongreen.png) 0 5 0 5;
  -moz-border-image: url(navbuttongreen.png) 0 5 0 5;
}

.blueButton {
  -webkit-border-image: url(blueButton.png) 0 5 0 5;
  -moz-border-image: url(blueButton.png) 0 5 0 5;
}

#backButton {
  -webkit-border-image: url(navleftgreen.png) 0 4 0 13;
  -moz-border-image: url(navleftgreen.png) 0 4 0 13;
}

.whiteButton {
  -webkit-border-image: url(whiteButton.png) 0 12 0 12;
  -moz-border-image: url(whiteButton.png) 0 12 0 12;
  text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}

.redButton {
  -webkit-border-image: url(redButton.png) 0 12 0 12;
  -moz-border-image: url(redButton.png) 0 12 0 12;
}

.grayButton {
  -webkit-border-image: url(grayButton.png) 0 12 0 12;
  -moz-border-image: url(grayButton.png) 0 12 0 12;
  color: #FFFFFF;
}

/************************************************************************************************/

body > ul > li.group {
  background: -webkit-gradient(linear, left top, left bottom, from(#c8c8c8), to(#9c9c9c)) ;
  background: -moz-linear-gradient(top, #c8c8c8,#9c9c9c); 
  text-shadow: 1px 1px 1px #333;
}

body > ul > li > a{
  background: url(listArrowOrange.png) no-repeat right center;
}

.panel > ul > li a, .row > a {
  background: url(chevron_w.png) no-repeat right center;
}

.row > input:not(input[type|=radio]):not(input[type|=checkbox]) {
  color:#fff;
  font-size: 16px;
  font-weight: bold;
}

body > ul.metal > li > a {
  color:#000;
  background-image: url(chevron_b.png), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#b9b9b9)) !important;
  background-image: url(chevron_b.png), -moz-linear-gradient(top, #d9d9d9,#b9b9b9) !important;
}

body > ul.metal > li > a[selected], body > ul.metal > li > a:active {
  background-image: url(listArrowSel2.png), -webkit-gradient(linear, left top, left bottom, from(#83b042), to(#405620)) !important;
  background-image: url(listArrowSel2.png), -moz-linear-gradient(top, #83b042,#405620) !important;
}

body > ul.metal > li > a[selected="progress"] {
  background-image: url(loadArrows2.gif), -webkit-gradient(linear, left top, left bottom, from(#83b042), to(#405620)) !important;
}

/************************************************************************************************/
  
body .panel{
  background: #9c9c9c;
} 
.panel > h2 {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

.panel > fieldset, .panel > ul {
  list-style-type: none;
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  background: #585858;
  color:#ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 0px solid #d4d4d4;
}
input {color:#fff;font-weight: bold;}

/************************************************************************************************/

.toggle {
  border: 1px solid #888888;
  background: #FFFFFF url(toggle.png) repeat-x;
}

.toggle[toggled="true"] {
  background: #194fdb url(toggleOn.png) repeat-x;
}

.thumb {
  background: #ffffff url(thumb.png) repeat-x;
}

/************************************************************************************************/
#preloader {
  display: none;
  background-image: url(loadArrows2.gif), url(selection.png), url(chevron_b.png), url(chevron_w.png)
    url(blueButton.png), url(listArrowSel2.png), url(listArrowOrange.png);
}
